.chat-page {

  min-height:700px;

  padding:40px;

  background:#171a21;

}



.chat-container {

  display:flex;

  max-width:1200px;

  margin:auto;

  height:650px;

  background:#1b2838;

  border-radius:12px;

  overflow:hidden;

}



.chat-sidebar {

  width:280px;

  padding:25px;

  background:#101822;

  color:white;

}



.chat-sidebar h2 {

  margin-bottom:30px;

}



.chat-user-box {

  display:flex;

  align-items:center;

  gap:10px;

  background:#1b2838;

  padding:15px;

  border-radius:8px;

}



.online-dot {

  width:12px;

  height:12px;

  background:#00ff66;

  border-radius:50%;

}



.chat-info {

  margin-top:20px;

  color:#9aa7b5;

}




.chat-main {

  flex:1;

}